<div class="flex flex-col w-full h-full">
  <div>
    <!-- <li>{{ res.meanings }}</li> -->
  </div>

  <div *ngFor="let res of results">
    <div class="flex flex-row justify-between mb-8">
      <div>
        <h1 class="font-bold text-[2rem] md:text-[3.8rem]">
          {{ res.word }}
        </h1>

        <p class="text-purple-500 text-lg">
          {{ res.phonetic }}
        </p>
      </div>

      <!-- <audio controls src="{{ phonetic.audio }}"></audio> -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 75 75"
        class="cursor-pointer md:w-[75px] md:h-[75px] w-[50px] h-[50px]"
      >
        <g fill="#A445ED" fill-rule="evenodd">
          <circle cx="37.5" cy="37.5" r="37.5" opacity=".25" />
          <path d="M29 27v21l21-10.5z" />
        </g>
      </svg>
    </div>

    <div class="flex flex-col">
      <div *ngFor="let meaning of res.meanings">
        <div class="mb-4">
          <h2 class="word text-2xl capitalize font-bold">
            {{ meaning.partOfSpeech }}
          </h2>

          <h3 class="mt-4">Meaning</h3>
          <div *ngFor="let definition of meaning.definitions" class="my-4">
            <ul class="flex flex-col">
              <li class="ml-8">{{ definition.definition }}</li>
            </ul>
          </div>

          <h2>Synonyms:</h2>
          <div
            class="flex flex-row gap-1"
            *ngFor="let synonym of meaning.synonyms"
          >
            <p class="text-purple-500 font-bold">
              {{ synonym }}
            </p>
          </div>
        </div>
      </div>
      <div class="flex gap-4">
        <p>Source</p>
        <a
          href="{{ res.sourceUrls }}"
          class="underline flex items-center gap-2"
        >
          {{ res.sourceUrls }}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            viewBox="0 0 14 14"
          >
            <path
              fill="none"
              stroke="#838383"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M6.09 3.545H2.456A1.455 1.455 0 0 0 1 5v6.545A1.455 1.455 0 0 0 2.455 13H9a1.455 1.455 0 0 0 1.455-1.455V7.91m-5.091.727 7.272-7.272m0 0H9m3.636 0V5"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
