<div class="flex flex-col w-full h-full">
  <div class="word flex flex-row justify-between">
    <div>
      <h1 class="font-bold text-[3.8rem] lowercase">Keyboard</h1>
      <p>//kibɔd//</p>
    </div>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="75"
      height="75"
      viewBox="0 0 75 75"
      class="cursor-pointer"
    >
      <g fill="#A445ED" fill-rule="evenodd">
        <circle cx="37.5" cy="37.5" r="37.5" opacity=".25" />
        <path d="M29 27v21l21-10.5z" />
      </g>
    </svg>
  </div>

  <div class="noun"></div>
</div>
